# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Lock files
package-lock.json

# env file
.env

# test files
src/**/*.test.ts